:root {
    --dark: #000;
    --light: #fff;
}

.title {
    font-family: Copperplate;
    text-decoration: none;
    color: inherit;
    font-size: 5rem;
    letter-spacing: -.25rem;
}

.title-left {
    -webkit-text-fill-color: var(--light);
    -webkit-text-stroke-color: var(--dark);
    -webkit-text-stroke: thin;
    font-weight: lighter;
}

.title-right {
    font-weight: bold;
}

/* Hover Styles */

.title:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px lightgrey;
    text-decoration: none;
    color: inherit;
}

.title:hover > .title-left {
    -webkit-text-fill-color: var(--dark);
    -webkit-text-stroke-color: var(--dark);
    -webkit-text-stroke: initial;
    font-weight: normal;
}

.title:hover > .title-right {
    -webkit-text-fill-color: var(--light);
    -webkit-text-stroke-color: var(--dark);
    -webkit-text-stroke: thin;
    font-weight: lighter;
}